.alerta{
    position: absolute;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: #101010;
    width: 50%;
    max-width: 400px;
    height: 0%;
    
    border-radius: 15px;
    box-shadow: 10px 10px #000111;

    transition: .2s ease-in-out all;
}

.opcoes{
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
}

.remover, .cancelar{
    width: 100px;
    height: 30px;

    border: none;
    border-radius: 10px;

    font-weight: 700;

    cursor: pointer;
    transition: .2s ease-out all;
}

.remover{
    background-color: red;
    color: #FFF;
}

.remover:hover{
    transform: scale(1.1);
    background-color: rgb(200, 0, 0);
}

.cancelar:hover{
    transform: scale(1.1);
    background-color: rgb(200,200,200);
}

.gerenciamentoProdutos{
    width: 94%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;

    display: none;
}

.produtos{
    width: 100%;
    height: 80%;

    overflow: auto;
    overflow-x: none;

    border: 3px solid #FFF;
    border-radius: 10px;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

table div{
    min-width: 200px;
    overflow: hidden;
    resize: horizontal;
}

table input{
    width: 100%;
}

.produtos::-webkit-scrollbar {
    width: 8px;
    height: 10px;
    background-color: #101010;
}

.produtos::-webkit-scrollbar-thumb {
    background: #FFF;
}

.produtos::-webkit-scrollbar-thumb:hover {
    background: #bfbfbf;
}

.gerenciamentoProdutos table{
    width: 100%;
    text-align: center;
}

.gerenciamentoProdutos td{
    padding: 5px;
    min-width: 50px;
    border: 1px solid #171717;
}

.gerenciamentoProdutos tr{
    display: table;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 100%;
    cursor: pointer;
}

thead th{
    box-sizing: border-box;
    flex-wrap: wrap;
    background-color: #101010;
    position: sticky;
    top: 2px;
    height: 25px;
}

td:hover{
    background-color: #202020;
}

.ferramentas{
    width: 100%;
    height: 30px;
    display: flex;

    box-sizing: border-box;
    background-color: #FFF;
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 5px;
}

.btnsGerenciamento{
    width: 70%;
    height: 30px;
    display: flex;
    align-items: center;
}

.btnsGerenciamento button{
    width: 30%;
    height: 25px;
    border: 1px solid #171717;
    border-radius: 10px;

    background-color: #FFF;
    cursor: pointer;
    font-weight: 700;

    margin-right: 10px;
}

.btnsGerenciamento button:hover{
    filter: brightness(85%);
}

.busca{
    width: 30%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.busca input{
    width: 0%;
    height: 25px;

    border: none;
    border-radius: 10px;
    text-align: center;

    transition: .2s ease-out all;
}

#limparBusca{
    background-color: transparent;
    border: none;
    display: none;
}

.busca .imgicon{
    min-width: 30px;
    height: 25px;
    
    border: 1px solid #000;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(231, 230, 230);
    transition: .1s ease-out all;
    cursor: pointer;

}

.imgicon:hover{
    filter: brightness(80%);
}

.imgicon img{
    width: 20px;
    height: 20px;
    pointer-events: none;

}

.input{
    font-size: 14px; 
    font-weight: 700;
    background-color: transparent; 
    border: none; 
    text-align: center; 
    color: #FFF;
}