*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    outline: none;
}

body{
    background-color: #171717;
}

.btnNotificacoes:hover{
    transform: scale(1.1);
}

.invisivel::-webkit-scrollbar{
    display: none;
}